<!-- HEADER MOBILE-->
<header class="header-mobile d-block d-lg-none">
    <div class="header-mobile__bar">
        <div class="container-fluid">
            <div class="header-mobile-inner">
                <a class="logo" href="index.html">
                    <img src="/images/icon/logo.png" alt="CoolAdmin" />
                </a>
                <button class="hamburger hamburger--slider" type="button">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
    <nav class="navbar-mobile">
        <div class="container-fluid">
            <ul class="navbar-mobile__list list-unstyled">
                <li>
                    <a href="/profile">
                        <span class="fa fa-anchor"></span>Profile</a>
                </li>
                <li>
                    <a href="/images">
                        <i class="fas fa-picture-o"></i>Images</a>
                </li>
                <li>
                    <a href="/upload">
                        <i class="fas fa-plus-circle"></i>Upload</a>
                </li>
                <li>
                    <a href="/images">
                        <i class="fas fa-picture-o"></i>Users</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<!-- END HEADER MOBILE-->

<!-- MENU SIDEBAR-->
<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="/">
            <img src="/images/icon/logo.png" alt="Cool Admin" />
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li>
                    <a href="/profile">
                        <i class="fa fa-user"></i>Profile</a>
                </li>
                <li>
                    <a href="/images">
                        <i class="fas fa-picture-o"></i>Images</a>
                </li>
                <li>
                    <a href="/upload">
                        <i class="fas fa-plus-circle"></i>Upload Images</a>
                </li>
                <li>
                    <a href="/users">
                        <i class="fas fa-users"></i>Users</a>
                </li>
                <li>
                    <a href="/categories">
                        <i class="fas fa-cogs"></i>Categories</a>
                </li>
                <li>
                    <a href="/categories">
                        <i class="fas fa-gift"></i>Payment packages</a>
                </li>
                <li>
                    <a href="/logout">
                        <i class="fa fa-power-off"></i>Sign out</a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
<!-- END MENU SIDEBAR-->