<div class="col-md-3 col-xs-12">
<div class="card">
    <img class="card-img-top" src="/extract/<%= imageName %>" alt="<%= imageName %>">
    <div class="card-body">
        <h4 class="card-title mb-3"><%= imageName %></h4>
        <a href="/delete/<%= imageName.substr(0,imageName.length-4) %>"><button class="btn btn-danger" >Delete</button></a>
    </div>
</div>
</div>